In [16]:
from geopy.geocoders import ArcGIS

In [8]:
import pandas as pd

df = pd.read_excel (r'//Users/pinaknayak/Documents/Github/Python-Projects/Exercises/Exercise_Geocoding/supermarkets.xlsx')
df

,ID,Address,City,State,Country,Supermarket Name,Number of Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [9]:
df["Continent "] = df.shape[0]*["North America"]

In [10]:
df

,ID,Address,City,State,Country,Supermarket Name,Number of Employees,Continent
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,North America
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,North America
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,North America
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,North America
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,North America
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,North America

In [17]:
nom = ArcGIS()

In [21]:
n = nom.geocode("3995 23rd St, San Fransisco, CA 94114")

In [24]:
longitude = n.longitude
latitude = n.latitude
print(longitude)
print(latitude)

-122.43170295955227
37.75292099814533

In [25]:
df["Full Address"] = df["Address"] + ", " + df["City"] + ", " + df["State"] + ", " + df["Country"]

In [26]:
df

,ID,Address,City,State,Country,Supermarket Name,Number of Employees,Continent,Full Address
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,North America,"3666 21st St, San Francisco, CA 94114, USA"
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,North America,"735 Dolores St, San Francisco, CA 94119, USA"
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,North America,"332 Hill St, San Francisco, California 94114, USA"
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,North America,"3995 23rd St, San Francisco, CA 94114, USA"
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,North America,"1056 Sanchez St, San Francisco, California, USA"
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,North America,"551 Alvarado St, San Francisco, CA 94114, USA"

In [31]:
df["Coordinates"] = df["Full Address"].apply(nom.geocode)

In [33]:
df["Latitude"] = df["Coordinates"].apply(lambda x: x.latitude if x != None else None)

In [34]:
df["Longitude"] = df["Coordinates"].apply(lambda x: x.longitude if x != None else None)

In [35]:
df

,ID,Address,City,State,Country,Supermarket Name,Number of Employees,Continent,Full Address,Coordinates,Latitude,Longitude
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,North America,"3666 21st St, San Francisco, CA 94114, USA","(3666 21st St, San Francisco, California, 9411...",37.756632,-122.429411
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,North America,"735 Dolores St, San Francisco, CA 94119, USA","(735 Dolores St, San Francisco, California, 94...",37.757829,-122.425373
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,North America,"332 Hill St, San Francisco, California 94114, USA","(332 Hill St, San Francisco, California, 94114...",37.755845,-122.428813
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,North America,"3995 23rd St, San Francisco, CA 94114, USA","(3995 23rd St, San Francisco, California, 9411...",37.752921,-122.431703
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,North America,"1056 Sanchez St, San Francisco, California, USA","(1056 Sanchez St, San Francisco, California, 9...",37.752132,-122.430006
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,North America,"551 Alvarado St, San Francisco, CA 94114, USA","(551 Alvarado St, San Francisco, California, 9...",37.753582,-122.433234