In [5]:
#1) Exercise: compute of average of lst[10,20,30]

lst = [10,20,30]

avg = sum(lst)/len(lst)

print(avg)

20.0

In [9]:
import numpy as np

#np.linspace creates linearly spaces numbers between 1 and 8 

np.linspace (1,8,20)

array([1.        , 1.36842105, 1.73684211, 2.10526316, 2.47368421,
       2.84210526, 3.21052632, 3.57894737, 3.94736842, 4.31578947,
       4.68421053, 5.05263158, 5.42105263, 5.78947368, 6.15789474,
       6.52631579, 6.89473684, 7.26315789, 7.63157895, 8.        ])

In [18]:
import pandas as pd

#create some random numbers

var1 = np.random.randn(100)*5 +20
var2 = np.random.randn(100)>0

labels = ['Temp. (C)', 'Ice Cream Eaten']

#create a dictionary 
D={labels[0]:var1, labels[1]:var2}

#import dictionary into pandas dataframe

df = pd.DataFrame(data=D)
df

    Temp. (C)  Ice Cream Eaten
0   22.587092             True
1   18.945545             True
2   16.882800            False
3   19.169566             True
4   11.807306             True
..        ...              ...
95  12.511568             True
96  10.921001            False
97  23.555457            False
98  25.599865            False
99  21.721393            False

[100 rows x 2 columns]

In [ ]:
# 2) Exercise - create a pandas dataframe with three variables:
# 1. integers from 0 to 10 
# 2. their square 
# 3. their log