In [4]:
#1) Exercise: compute of average of lst[10,20,30]

lst = [10,20,30]

avg = sum(lst)/len(lst)

print(avg)

20.0

In [5]:
import numpy as np

#np.linspace creates linearly spaces numbers between 1 and 8 

np.linspace (1,8,20)

array([1.        , 1.36842105, 1.73684211, 2.10526316, 2.47368421,
       2.84210526, 3.21052632, 3.57894737, 3.94736842, 4.31578947,
       4.68421053, 5.05263158, 5.42105263, 5.78947368, 6.15789474,
       6.52631579, 6.89473684, 7.26315789, 7.63157895, 8.        ])

In [6]:
import pandas as pd

#create some random numbers

var1 = np.random.randn(100)*5 +20
var2 = np.random.randn(100)>0

labels = ['Temp. (C)', 'Ice Cream Eaten']

#create a dictionary 
D={labels[0]:var1, labels[1]:var2}

#import dictionary into pandas dataframe

df = pd.DataFrame(data=D)
df

    Temp. (C)  Ice Cream Eaten
0   22.581863            False
1   26.385135            False
2   13.895177             True
3   16.940646            False
4   20.095685            False
..        ...              ...
95  14.025532             True
96  16.470895            False
97  22.409439             True
98  21.485821            False
99  24.872880            False

[100 rows x 2 columns]

In [15]:
# 2) Exercise - create a pandas dataframe with three variables:
# 1. integers from 0 to 10 
# 2. their square 
# 3. their log 

#Create Integers
A = np.linspace (0,10,11)

#Add to dataframe
df = pd.DataFrame(data=A)

print(df)

       0
0    0.0
1    1.0
2    2.0
3    3.0
4    4.0
5    5.0
6    6.0
7    7.0
8    8.0
9    9.0
10  10.0

In [22]:
#Create Squares
df['square'] = df[0]**2
df

#Create log
df['log'] = np.log(df[0])
print(df)

       0  square       log
0    0.0     0.0      -inf
1    1.0     1.0  0.000000
2    2.0     4.0  0.693147
3    3.0     9.0  1.098612
4    4.0    16.0  1.386294
5    5.0    25.0  1.609438
6    6.0    36.0  1.791759
7    7.0    49.0  1.945910
8    8.0    64.0  2.079442
9    9.0    81.0  2.197225
10  10.0   100.0  2.302585

/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:726: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [23]:
#Rename Column
df = df.rename(columns={ 0 : 'Integer'})

In [24]:
df

    Integer  square       log
0       0.0     0.0      -inf
1       1.0     1.0  0.000000
2       2.0     4.0  0.693147
3       3.0     9.0  1.098612
4       4.0    16.0  1.386294
5       5.0    25.0  1.609438
6       6.0    36.0  1.791759
7       7.0    49.0  1.945910
8       8.0    64.0  2.079442
9       9.0    81.0  2.197225
10     10.0   100.0  2.302585

In [34]:
#Creating your own functions
#Use def

def awesomefunction():
  print(1+1)


awesomefunction() #to call a function, you have to use parentheses at the end

def superawesomefunction(input1, input2):
  return input1 + input2

superawesomefunction(8,9)

2

17

In [1]:
#lambda functions
littlefun = lambda x: (x**2) -1 

littlefun (4)

15

In [9]:
# 3) Exercise: Create a function that computes a factorial of an integer. i.e 5! = 5*4*3*2*1
# import math module, find the factorial function, and check the difference between your function and the math module function

import numpy as np
import math as math
#Input a number 
num = int(input('Enter a number '))

#Create function
def factorial ():

  mult = np.linspace(1,num,num)
  product = np.product(mult)
  print(str(num) + ' factorial is ' + str(product))
  return product , mult

factorial()

#Use math module function

math = math.factorial(num)
print('Using math function, it is ' + str(math))
#Compare the two outputs

#It looks like the function outputs a float and math outputs an integer

Enter a number 7
7 factorial is 5040.0
Using math function, it is 5040

In [14]:
# Exercise Write a function that flips a coin n times and reports the average
import numpy as np

flips = int(input("Enter number of times you want to flip a coin "))

def coinflips():
  pCoinflips = np.mean( np.random.randn(flips)>0)
  print(str(flips) + ' coin flips had ' + str(100*pCoinflips) + ' % Heads')

coinflips()

Enter number of times you want to flip a coin 90000000
90000000 coin flips had 50.00212555555555 % Heads

In [ ]:
#OOP (Classes)

class Experiment (object):
  #constructor method